.NavBarAppearance {
    display: flex;
    align-items: center;
    justify-content: center;
}

.NavBarAppearance::before {
    margin-right: 15px;
    margin-left: 15px;
    width: 1px;
    height: 24px;
    background-color: var(--link-color);
    content: "";
}

.SwitchAppearance {
    position: relative;
    width: 60px;
    height: 34px;
    background-color: rgba(142, 150, 170, 14);
    border: 1px solid transparent;
    border-radius: 34px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 0.2s ease;
}

.SwitchAppearance:hover {
    border: 1px solid var(--text-color);
    transition: border 0.2s ease;
}

.SwitchAppearance[aria-checked="true"] {
    background-color: var(--link-color);
}

.icon {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sun,
.moon {
    font-size: 20px;
    position: absolute;
    transition: all 0.1s ease;
}

.sun {
    left: 3px;
    color: #f39c12;
    opacity: 1;
}

.moon {
    right: 4px;
    color: #f1c40f;
    opacity: 0;
}

.SwitchAppearance[aria-checked="true"] .sun {
    opacity: 0;
}

.SwitchAppearance[aria-checked="true"] .moon {
    opacity: 1;
}

.check {
    position: absolute;
    top: 50%;
    left: 4px;
    width: 26px;
    height: 26px;
    background-color: var(--background-color);
    border: none;
    border-radius: 50%;
    transition: transform 0.1s ease;
    transform: translateY(-50%);
}

.SwitchAppearance[aria-checked="true"] .check {
    transform: translate(26px, -50%);
}

.SwitchAppearance[aria-checked="false"] .check {
    transform: translateX(0, -50%);
}

@media (max-width: 768px) {
    .NavBarAppearance::before {
        display: none;
    }

    .NavBarAppearance {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        padding: 12px 14px 12px 16px;
    }
}