.NavBarAppearance {
    display: flex;
    align-items: center;
    justify-content: center;
}

.NavBarAppearance::before {
    margin-right: 15px;
    margin-left: 15px;
    width: 1px;
    height: 24px;
    background-color: var(--nav-link-color);
    content: "";
}

.SwitchAppearance {
    position: relative;
    width: 60px;
    height: 34px;
    background-color: var(--switch-appearance-background);
    color: var(--text-color);
    border: 1px solid transparent;
    border-radius: 34px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: border 0.2s ease;
}

.SwitchAppearance:hover {
    border: 1px solid var(--text-color);
    transition: border 0.2s ease;
}

.check {
    position: absolute;
    top: 50%;
    display: inline-flex;
    left: 4px;
    width: 26px;
    height: 26px;
    background-color: var(--background-color);
    border: none;
    border-radius: 50%;
    transition: transform 0.1s ease;
    transform: translateY(-50%);
    justify-content: center;
    align-items: center;
}

.check svg {
    width: 20px;
    height: 20px;
}

.SwitchAppearance[aria-checked="true"] .check {
    transform: translate(26px, -50%);
}

.SwitchAppearance[aria-checked="false"] .check {
    transform: translateX(0, -50%);
}

@media (max-width: 768px) {
    .NavBarAppearance::before {
        display: none;
    }

    .NavBarAppearance {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        padding: 12px 14px 12px 16px;
    }
}