:root {
    /* Light Mode Variables */
    --background-color: #ffffff;
    --text-color: rgba(60, 60, 67);
    --nav-link-color: #413d54;
    --nav-link-hover: #3451b2;
    --switch-appearance-background: rgb(142, 150, 170);
    --doc-link-color: #3451b2;
    --doc-link-hover: #3a5ccc;
    --code-block-background: #f6f6f7;
    --code-block-border: #0072ff;
    --code-font: ui-monospace, "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
    --code-font-size: .875em;
    --code-copy-background: #f6f6f7;
    --code-copy-hover: #ffffff;
    --code-copy-border-color: #e2e2e3;
    --font-size: 16px;
    --divider-color: #e2e2e3;
}

body.dark-mode {
    /* Dark Mode Variables */
    --background-color: #1b1b1f;
    --text-color: rgba(255, 255, 245, .86);
    --nav-link-color: #bb86fc;
    --nav-link-hover: #9a67ea;
    --switch-appearance-background: #bb86fc;
    --doc-link-color: #a8b1ff;
    --doc-link-hover: #5c73e7;
    --code-block-background: #2d2d2d;
    --code-block-border: #bb86fc;
    --code-copy-background: #39037a;
    --code-copy-hover: #2e0262;
    --code-copy-border-color: #7c7366;
    --divider-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: var(--font-size);
    padding-top: 64px;
}

a {
    color: var(--nav-link-color);
    text-decoration: inherit;
    text-decoration-color: inherit;
}


.divider {
    width: 100%;
    height: 1px;
    background-color: var(--divider-color);
}

main {
    padding: 32px 24px 96px;
    width: 100%;
    overflow: auto;
}

ul,
ol {
    padding-left: 1.25rem;
    margin: 16px 0;
}


p {
    line-height: 28px;
    margin: 16px 0;
}

h2 {
    margin: 48px 0 16px;
    border-top: 1px solid var(--divider-color);
    padding-top: 24px;
    letter-spacing: -.02em;
    line-height: 32px;
    font-size: 24px;
}

h4 {
    margin: 24px 0 16px;
}

main a {
    font-weight: 500;
    color: var(--doc-link-color);
    text-decoration: underline;
    text-underline-offset: 2px;
    transition: color .25s, opacity .25s;
    word-break: break-all;
}

main a:hover {
    color: var(--doc-link-hover);
}

@media (min-width: 960px) {
    main {
        padding: 48px 32px 0;
    }
}

@media (min-width: 768px) {
    main {
        padding: 48px 32px 128px;
    }
}