:root {
    /* Light Mode Variables */
    --background-color: #ffffff;
    --text-color: rgba(60, 60, 67);
    --link-color: #413d54;
    --link-hover: #3451b2;
    --code-block-background: #f6f6f7;
    --code-block-border: #0072ff;
    --code-font: ui-monospace, "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
    --code-size: .875em;
    --code-copy-background: #f6f6f7;
    --code-copy-hover: #ffffff;
    --code-copy-border-color: #e2e2e3;
    --copy-success-color: green;
    --font-size: 16px;
    --divider-color: #e2e2e3;
}

body.dark-mode {
    /* Dark Mode Variables */
    --background-color: #1b1b1f;
    --text-color: rgba(255, 255, 245, .86);
    --link-color: #bb86fc;
    --link-hover: #9a67ea;
    --code-block-background: #2d2d2d;
    --code-block-border: #bb86fc;
    --code-copy-background: #bb86fc;
    --code-copy-hover: #9a67ea;
    --code-copy-border-color: #2e2e32;
    --copy-success-color: #03dac6;
    --font-size: 16px;
    --divider-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: var(--font-size);
    padding-top: 64px;
}

a {
    color: var(--link-color);
    text-decoration: inherit;
    text-decoration-color: inherit;
}


.divider {
    width: 100%;
    height: 1px;
    background-color: var(--divider-color);
}

main {
    padding: 32px 24px 96px;
    width: 100%;
    overflow: auto;
}

ul {
    padding-left: 1.25rem;
    margin: 16px 0;
}

p {
    line-height: 28px;
    margin: 16px 0;
}

h2 {
    margin: 48px 0 16px;
    border-top: 1px solid var(--divider-color);
    padding-top: 24px;
    letter-spacing: -.02em;
    line-height: 32px;
    font-size: 24px;
}

h4 {
    margin: 24px 0 16px;
}

.code {
    font-family: var(--code-font);
    font-size: var(--code-size);
    line-height: 1.7;
}

.dollar {
    color: var(--code-block-border);
    user-select: none;
}

.default {
    color: var(--text-color);
}

code {
    background-color: var(--code-block-background);
    padding: 2px 0;
    border-radius: 4px;
    font-size: 14px;
    font-family: var(--code-font);
    color: var(--text-color);

}

.code-block {
    position: relative;
    background-color: var(--code-block-background);
    border-left: 4px solid var(--code-block-border);
    border-radius: 5px;
    display: flex;
    align-items: center;
    white-space: pre;
    padding-left: 24px;
}

pre {
    padding: 20px 0;
    overflow: auto;
}

.copy-button {
    opacity: 0;
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: var(--code-copy-background);
    color: var(--text-color);
    padding: 8px 12px;
    cursor: pointer;
    border: 1px solid var(--code-copy-border-color);
    border-radius: 4px;
    z-index: 3;
    transition: opacity 0.5s ease, background-color 0.5s ease;
}

.code-block:hover .copy-button {
    opacity: 1 ;
    pointer-events: auto;
    transform: scale(1);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.copy-button.fade-out {
    opacity: 0; 
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.copy-button:hover {
    background-color: var(--code-copy-hover);
}

.copy-success {
    position: absolute;
    right: 64px;
    top: 12px;
    background-color: var(--code-copy-background);
    border: 1px solid var(--code-copy-border-color);
    border-radius: 4px 0 0 4px;
    padding: 8px;
    color: var(--text-color);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 3;
}

.copy-success.show {
    opacity: 1;
}

/* 顯示按鈕和成功消息 */
.copy-button.show, .copy-success.show {
    opacity: 1;
}

/* 淡出動畫 */
.copy-button.fade-out, .copy-success.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

@media (min-width: 960px) {
    main {
        padding: 48px 32px 0;
    }
}

@media (min-width: 768px) {
    main {
        padding: 48px 32px 128px;
    }
}